<ion-content>
  <div id="header">
    <div id="app-bar">
      
    </div>
    <div id="logo">
      <img src="assets/icon/loginLogo.png" alt="logo" />
    </div>
    <h2>FastHome</h2>
  </div>

  <ion-card class="ion-padding">
    <ion-card-content>
      <h1>Welcome to FastHome</h1>
      <p>Buy and Sell Houses With Us!</p>

      <ion-button expand="block" routerLink="/sign-in">Sign In</ion-button>
      <ion-button expand="block" fill="outline" routerLink="/sign-up">Sign Up</ion-button>

      <div class="line-text">
        <span class="lines"></span>
        <span class="text">Or connect using</span>
      </div>

      <div class="socials">
        <ion-button class="btn-fb">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button class="btn-tw">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-button>
        <ion-button class="btn-go">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
