<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar></ion-searchbar>
  <ion-button  expand="block" style="margin-left:20px; margin-right:20px;">Filter Houses</ion-button>
  <ion-card>
    <ion-card-header class="ion-no-padding">
      <img routerLink="/house-info"
        src="https://www.rocketmortgage.com/resources-cmsassets/RocketMortgage.com/Article_Images/Large_Images/TypesOfHomes/types-of-homes-hero.jpg"
      />
    </ion-card-header>

    <ion-card-content>
      <p class="price">$1,500,000</p>

      <div class="row">
        <div class="column">
          <fa-icon icon="stairs"></fa-icon>
          <p class="icons">3</p>
        </div>
        <div class="column">
          <fa-icon icon="bed"></fa-icon>
          <p class="icons">5</p>
        </div>
        <div class="column">
          <fa-icon icon="bath"></fa-icon>
          <p class="icons">6</p>
        </div>
        <div class="column">
          <fa-icon icon="car-side"></fa-icon>
          <p class="icons">3</p>
        </div>
        <div class="column">
          <fa-icon icon="ruler"></fa-icon>
          <p class="icons">15 x 20</p>
        </div>
      </div>
      <h2 class="address">Calvi 9541, Chihuahua, Chihuahua</h2>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header class="ion-no-padding">
      <img routerLink="/house-info"
        src="https://www.rocketmortgage.com/resources-cmsassets/RocketMortgage.com/Article_Images/Large_Images/TypesOfHomes/types-of-homes-hero.jpg"
      />
    </ion-card-header>

    <ion-card-content>
      <p class="price">$1,500,000</p>

      <div class="row">
        <div class="column">
          <fa-icon icon="stairs"></fa-icon>
          <p class="icons">3</p>
        </div>
        <div class="column">
          <fa-icon icon="bed"></fa-icon>
          <p class="icons">5</p>
        </div>
        <div class="column">
          <fa-icon icon="bath"></fa-icon>
          <p class="icons">6</p>
        </div>
        <div class="column">
          <fa-icon icon="car-side"></fa-icon>
          <p class="icons">3</p>
        </div>
        <div class="column">
          <fa-icon icon="ruler"></fa-icon>
          <p class="icons">15 x 20</p>
        </div>
      </div>
      <h2 class="address">Calvi 9541, Chihuahua, Chihuahua</h2>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header class="ion-no-padding">
      <img routerLink="/house-info"
        src="https://www.rocketmortgage.com/resources-cmsassets/RocketMortgage.com/Article_Images/Large_Images/TypesOfHomes/types-of-homes-hero.jpg"
      />
    </ion-card-header>

    <ion-card-content>
      <p class="price">$1,500,000</p>

      <div class="row">
        <div class="column">
          <fa-icon icon="stairs"></fa-icon>
          <p class="icons">3</p>
        </div>
        <div class="column">
          <fa-icon icon="bed"></fa-icon>
          <p class="icons">5</p>
        </div>
        <div class="column">
          <fa-icon icon="bath"></fa-icon>
          <p class="icons">6</p>
        </div>
        <div class="column">
          <fa-icon icon="car-side"></fa-icon>
          <p class="icons">3</p>
        </div>
        <div class="column">
          <fa-icon icon="ruler"></fa-icon>
          <p class="icons">15 x 20</p>
        </div>
      </div>
      <h2 class="address">Calvi 9541, Chihuahua, Chihuahua</h2>
    </ion-card-content>
  </ion-card>

  <br><br><br>
</ion-content>
