<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"> My Profile </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="user">
    <h1>Anson Arroyo</h1>
    <p>Email: ansonjahaziel@hotmail.com</p>
  </div>

  <h1 class="settingsTitle">Settings</h1>
  <div id="settings">
    
        <h1>Manage My Houses</h1>
        <p>Add House</p>
        <p>Edit House</p>
        <h1>Manage Account</h1>
        <p>Change Password</p>
        <p>Etc</p>
  </div>

  <ion-button  expand="block" color="danger" style="margin-left:20px; margin-right:20px;">Log Out</ion-button>
</ion-content>
